* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

:root {
  --text: #aaa;
  --background: #000;

  --rootred: #e26d6f;

  --blud: #0000ff;
  --red: #ff0000;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background-color: var(--background);
}

body,
input,
textarea,
select,
button,
h1 {
  font: 400 1rem "Ubuntu Mono";
  color: var(--text);
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
