.signInButton {
  height: 3rem;
  border-radius: 3rem;
  background-color: var(--text);

  border: 0;
  padding: 0 1.5rem;

  display: flex;
  align-items: center;

  color: var(--background);
  font-weight: bold;
  font-size: 1.2rem;

  svg {
    width: 20px;
    height: 20px;
  }

  svg:first-child {
    margin-right: 1rem;
  }

  svg.closeIcon {
    margin-left: 1rem;
  }

  transition: all, 0.2s;

  &:hover {
    background-color: var(--background);
    color: var(--text);
  }
}
